<div class="container mt-5">
  <footer class="py-3 border-top d-flex flex-column text-center justify-content-center align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 fs-5 text-muted">🚀 <a href="http://github.com/danchc" class="text-primary link-primary">Daniel Checchia</a> 🚀</span>
      <p class="lead fs-6 mt-3">Made with 
        <a href="https://angular.io/">
          <img src="../../assets/ico/icons8-angularjs.svg" width="24" height="24">
        </a>
      </p>
  </footer>
</div>