<div class="container-fluid bg-light">
    <div class="row p-5 d-flex" data-aos="fade-down">
        <!-- social -->
        <div class="container col-lg-6">
            <div class="container">
                <h1 class="display-3"><span id="contatti">📲 Social</span></h1>
            </div>
            <hr class="m-5">
            <div class="container mt-5">
                <div class="container d-flex rounded-3 my-4 shadow-lg p-2 align-items-center">
                    <img src="../../assets/ico/icons8-github.svg">
                    <div class="container text-center">
                        <a class="text-decoration-none text-dark" href="http://github.com/danchc" title="Github" target="_blank">
                            <h4>Visita il mio profilo su Github 🔍</h4>
                        </a>
                       
                    </div>
                </div>
                <div class="container d-flex rounded-3 my-4 shadow-lg p-2 align-items-center">
                    <img src="../../assets/ico/icons8-linkedin.svg">
                    <div class="container text-center">
                        <a class="text-decoration-none text-dark" href="https://www.linkedin.com/in/daniel-checchia-992b37220/" title="Linkedin" target="_blank">
                            <h4>Visita il mio profilo su Linkedin 🔍</h4>
                        </a>
                    </div>
                </div>
                <div class="container d-flex rounded-3 my-4 shadow-lg p-2 align-items-center">
                    <img src="../../assets/ico/icons8-twitter-circled.svg">
                    <div class="container text-center">
                        <a class="text-decoration-none text-dark" href="http://twitter.com/" title="Github" target="_blank">
                            <h4>Visita il mio profilo su Twitter 🔍</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- email -->
        <div class="container col-lg-6">
            <div class="container">
                <h1 class="display-3">📨 Contattami</h1>
            </div>
            <hr class="m-5">
            <div class="container mt-5 px-5">
                <fieldset disabled>
                    <form class="">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Indirizzo e-mail :</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Oggetto :</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Oggetto dell'e-mail">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Messaggio :</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="container text-center">
                            <button type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"></path>
                                </svg>
                                Invia
                            </button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    
    </div>
</div>

