<div class="container h-auto mb-5">
  <!-- first section -->
  <div class="container-fluid" data-aos="fade-down">
    <div class="container text-center mt-5" >
      <span id="about" >
          <h1 class="display-3">
              About me 👨🏽‍💻
          </h1>
      </span>
    </div>
  <hr>
    <div class="container text-center fs-5 mt-5">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus eos sit reiciendis non aliquid, possimus nam, totam sint autem nostrum dolore placeat magnam vitae incidunt inventore cum ratione unde ducimus?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus eos sit reiciendis non aliquid, possimus nam, totam sint autem nostrum dolore placeat magnam vitae incidunt inventore cum ratione unde ducimus?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus eos sit reiciendis non aliquid, possimus nam, totam sint autem nostrum dolore placeat magnam vitae incidunt inventore cum ratione unde ducimus?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus eos sit reiciendis non aliquid, possimus nam, totam sint autem nostrum dolore placeat magnam vitae incidunt inventore cum ratione unde ducimus?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus eos sit reiciendis non aliquid, possimus nam, totam sint autem nostrum dolore placeat magnam vitae incidunt inventore cum ratione unde ducimus?
    </div>
    <!-- btn -->
    <div class="container text-center p-5">
      <div id="container">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Maggiori informazioni</span>
        </button>
      </div>
    </div>
  </div>

  <!-- skills -->
  <div class="container d-flex justify-content-center align-items-center text-center mt-5">
    <div class="row" data-aos="fade-right">
      <div class="m-lg-5 p-2 m-md-4 container w-auto">
        <img src="../../assets/ico-about/bootstrap.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/css-3.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/html-5.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/java.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/postgre.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/spring.svg" width="72" height="72">
      </div>
    </div>
  </div>
</div>
