<div class="container h-auto mb-5">
  <!-- first section -->
  <div class="container-fluid" data-aos="fade-down">
    <div class="container text-center mt-5" >
      <span id="about" >
          <h1 class="display-3">
              About me 👨🏽‍💻
          </h1>
      </span>
    </div>
  <hr>
    <div class="d-flex justify-content-evenly text-center fs-5 mt-5">
      <div class=" container-sm">
        <div class="text-center">
          <img src="../../assets/me.png" class="rounded-circle w-50" alt="pic">
        </div>  
      </div>
      <div class="container">
        <p class="fs-1 text-primary">Ciao!</p> Mi chiamo <span class="text-primary">Daniel</span> e sono uno studente all'ultimo anno di Ingegneria Informatica presso l'<span>Università degli Studi Roma Tre</span>. 
        Sono un giovane sviluppatore amante dell'innovazione e della semplicità. Sono sempre disponibile ad imparare e conoscere nuovi linguaggi
        al fine di migliorare le mie capacità.
        Attualmente sto imparando come si lavora utilizzando Angular.
        Per scoprire altro di me, basta cliccare il tasto qua sotto!
      </div>
    </div>
    <!-- btn -->
    <div class="container text-center p-5">
      <div id="container">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <a href="https://www.linkedin.com/in/daniel-checchia-992b37220/" target="_blank"><span class="button-text">Maggiori informazioni</span></a>
        </button>
      </div>
    </div>
  </div>

  <!-- skills -->
  <div class="container d-flex justify-content-center align-items-center text-center mt-5">
    <div class="row" data-aos="fade-right">
      <div class="m-lg-5 p-2 m-md-4 container w-auto">
        <img src="../../assets/ico-about/bootstrap.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/css-3.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/html-5.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/java.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/postgre.png" width="72" height="72">
      </div>
      <div class="m-lg-5 p-2 m-md-4 icon container w-auto">
        <img src="../../assets/ico-about/spring.svg" width="72" height="72">
      </div>
    </div>
  </div>
</div>
