<div class="container-fluid" style="background-image:url(../../assets/bg/Circuit\ Board.svg); background-size: cover; height: auto;">
    <div class="container-fluid p-3" data-aos="zoom-in">
        <div class="container mt-5 text-center">
            <h1 class="display-3" id="progetti">💻 I miei progetti</h1>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 g-4 m-4">
            <div class="col">
                <div class="card shadow-lg">
                    <div class="container p-4 text-center">
                        <img src="../../assets/projects-logos/r3-logo-dark.png" class="img-fluid" width="300" height="130" alt="r3catering-webapp">
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title">🌮 R3 Catering 🌮</h5>
                        <p class="card-text">Progetto universitario</p>

                        <!-- btn -->
                        <div class="container- text-center">
                            <div id="container">
                                <a href="">
                                    <button class="learn-more">
                                        <span class="circle" aria-hidden="true">
                                            <span class="icon arrow"></span>
                                        </span>
                                        <span class="button-text">Github</span>
                                    </button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-lg">
                    <div class="container text-center p-4 ">
                        <img src="../../assets/projects-logos/logo.png" class="img-fluid" width="350" height="130" alt="r3tour-webapp">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">✈️ R3 Tour ✈️</h5>
                        <p class="card-text">Progetto universitario</p>
                        <!-- btn -->
                        <div class="container text-center">
                            <div id="container">
                                <a href="">
                                    <button class="learn-more">
                                        <span class="circle" aria-hidden="true">
                                            <span class="icon arrow"></span>
                                        </span>
                                        <span class="button-text">Github</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
