
<!-- sidebar -->
<div class="d-flex flex-column fixed-bottom h-100 sticky-bottom flex-shrink-0 bg-light" style="width: 5.5rem;">
    <a href="/" class="d-flex pt-5 pb-5 justify-content-center align-items-center link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right">
    <img class="bi pe-none" width="72" height="72" src="assets/dclogo.svg" alt="logo">
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="#" class="nav-link active py-3 border-bottom rounded-0" title="Home" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="bi pe-none" width="24" height="24" src="../../assets/ico/icons8-home.svg" alt="logo">
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0" title="About" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="bi pe-none" width="24" height="24" src="../../assets/ico/icons8-about.svg" alt="logo">
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0" title="Progetti" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="bi pe-none" width="24" height="24" src="../../assets/ico/code-svgrepo-com.svg" alt="logo">
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0" title="Contatti" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="bi pe-none" width="24" height="24" src="../../assets/ico/icons8-contacts.svg" alt="logo">
            </a>
        </li>
    </ul>
</div>

