<div style="background-image: url(../../assets/subtle-prism.svg); height:100vh;">

    <div class="container-fluid d-flex h-100">
        <div class="container d-flex justify-content-around align-items-center h-auto">
            <div class="container-md row justify-content-between align-items-center">

                <div class=" p-2 container-fluid align-items-center ">
                    <div class=" align-items-center">

                        <div class="text-center justify-content-center mb-3 mt-3 d-flex">
                            <span class="display-6">Hello, I'm&nbsp;</span> 
                            <span> <ngtypewriter class="text-primary display-6" [StringList]='list' [speed]="2000"></ngtypewriter> </span>
                        </div>
                        
                        <!-- nav-links -->
                        <div class="animate__animated animate__bounce container">
                            <div class="row-cols-auto gx-lg-5 d-flex justify-content-center align-items-center" >
                                
                                <div class="w-auto text-center mx-3">
                                    <a href="#about" class="nav-link py-3 rounded-0" title="About me" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <img class="bi pe-none" width="50" height="50" src="../../assets/ico/icons8-about.svg" alt="logo">
                                    </a>
                                </div>
                                <div class="w-auto mx-3 text-center">
                                    <a href="#contatti" class="nav-link py-3 rounded-0" title="Contacts" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <img class="bi pe-none" width="50" height="50" src="../../assets/ico/icons8-contacts.svg" alt="logo">
                                    </a>
                                </div>
                                <div class="w-auto mx-3 text-center">
                                    <a href="#progetti" class="nav-link py-3 rounded-0" title="Projects" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <img class="bi pe-none" width="50" height="50" src="../../assets/ico/code-svgrepo-com.svg" alt="logo">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    
                    </div> 
                </div>
                
                <div class="container-fluid col-lg-5 d-flex align-items-center justify-content-center text-center">
                    <!-- 
                    <lord-icon
                        src="https://cdn.lordicon.com/jnlncdtk.json"
                        trigger="loop"
                        delay="2500"
                        colors="primary:#000000,secondary:#4d2c19,tertiary:#ffffff,quaternary:#e3c0ac,quinary:#ffffff"
                        style="width:370px;height:370px">
                    </lord-icon>
                    -->
                    <img src="../../assets/illustration.svg" width="700" height="600" class="img-fluid">
                </div>
            
            </div>
        </div>
    </div>

</div>